*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "kufi";
  src: url("./NotoKufiArabic-Regular.ttf") format("truetype");
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: var(--fontFamily);
  background: var(--primary);
  color: var(--font);
}

a {
  text-decoration: none;
  color: var(--font);
}

.iconify {
  width: 100%;
  height: 100%;
  max-width: 35px;
  max-height: 20px;
  line-height: 100%;
}

#root {
  position: fixed;
  top: 0;
  right: 0;
  direction: rtl;
  overflow: hidden;
  padding: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}

.content::-webkit-scrollbar {
  display: none;
}
.content {
  background: var(--secondary);
  box-shadow: var(--shadow) 0px 0px 10px;
  overflow: auto;
  border-radius: 20px;
}

@media (max-width:800px) {
  #root {
    padding: 0;
    gap: 0;
  }
  .content {
    border-radius: 0;
    background: inherit;
    box-shadow: inherit;
  }
}