.pagination-container {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 10px;
}

.pagination-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination-button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  background: var(--secondary);
  border: 2px solid rgba(0, 0, 0, 0.1);
  color: var(--font);
  border-radius: 3px;
  font-size: large;
}

.pagination-button.active {
  background: var(--colorAccent);
  color: #ffffff;
}
.pagination-button:hover {
  border-color: var(--colorAccent);
}

.pagination-button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
